{% load static %}


{% for libro in libros %}
<div class="libro {% if not libro.disponible %}no-disponible{% endif %}" data-id="{{ libro.id }}" data-disponible="{{ libro.disponible|lower }}">
    <div class="portada-titulo">
        {% if libro.portada %}
        <img src="{{ libro.portada.url }}" alt="{{ libro.titulo }}">
        {% else %}
        <img src="{% static 'default_cover.jpg' %}" alt="Portada predeterminada">
        {% endif %}
        <div class="titulo-id">
            <p><strong># </strong>{{ libro.id }}</p>
            <h4>{{ libro.titulo }}</h4>
        </div>
    </div>
    <p><strong>ISBN: </strong>{{ libro.isbn }}</p>
    <p><strong>Autor: </strong>{{ libro.autor }}</p>
    <p><strong>Descripción: </strong>{{ libro.descripcion }}</p>
    <p><strong>Disponible: </strong>{% if libro.disponible %}Sí{% else %}No{% endif %}</p>
</div>
{% endfor %}


<div class="opcionesfinales">
    {% if libros.has_previous %}
    <a class="pagination-link" href="?pagina={{ libros.previous_page_number }}&txtbuscar={{ buscar }}">Anterior</a>
    {% endif %}

    {% if libros.has_next %}
    <a class="pagination-link" href="?pagina={{ libros.next_page_number }}&txtbuscar={{ buscar }}">Siguiente</a>
    {% endif %}
</div>