<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BibliotecaCEB</title>
    <!-- Aquí puedes incluir tus archivos estáticos, como CSS y JavaScript -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/administrador.css' %}">
</head>
<body>
    <div class="container" style="display: flex; flex-direction: column; height: 100vh;">

{% load static %}

<!-- <Barra lateral> -->

<div class="menu">
    <ion-icon name="menu-outline"></ion-icon>
    <ion-icon name="close-outline" onclick="closeOptionsModal()"></ion-icon>
</div>

<div class="barra-lateral">
    <div>
        <div class="nombre-pagina">
            <ion-icon id="cloud" name="library-outline" onclick="closeOptionsModal()"></ion-icon>
            <span>BiblioCEB</span>
        </div>
    </div>

    <nav class="navegacion">
        <ul>
            <li>
                <a href="{% url 'App1:libros' %}">
                    <ion-icon name="book-outline"></ion-icon>
                    <span>Lista de libros</span>
                </a>
            </li>
            <li>
                <a href="{% url 'App1:prestamos' %}">
                    <ion-icon name="calendar-number-outline"></ion-icon>
                    <span>Hacer prestamo</span>
                </a>
            </li>
            <li>
                <a href="{% url 'App1:lista_prestamos' %}">
                    <ion-icon name="calendar-outline"></ion-icon>
                    <span>Prestamos hechos</span>
                </a>
            </li>
            <li>
                <a id="inbox" href="#">
                    <ion-icon name="people-outline"></ion-icon>
                    <span>Administradores</span>
                </a>
            </li>
        </ul>
    </nav>

    <div>
        <div class="linea"></div>

        <div class="modo-oscuro">
            <div class="info">
                <ion-icon name="moon-outline"></ion-icon>
                <span>Dark Mode</span>
            </div>
            <div class="switch">
                <div class="base">
                    <div class="circulo">

                    </div>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="usuario">
            <img src="{% static 'imagenes/foto_default.png' %}" alt="">
            <div class="info-usuario">
                <div class="nombre-email">
                    <span class="nombre">{{ user.username }}</span>
                    <span class="email">{{ user.email }}</span>
                </div>
                <ion-icon name="ellipsis-vertical-outline" onclick="openOptionsModal(event)"></ion-icon>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- <opciones de perfil> -->
<div class="modal4" id="modal4">
    <div class="cerrar-opciones-perfil" onclick="closeOptionsModal()" >x</div>
    <div class="opciones-perfil">
        <a href="" onclick="openEditPerfilModal(event)" ><ion-icon name="create-outline"></ion-icon>&nbsp;Editar perfil</a>
        <a href="{% url 'App1:logout' %}"><ion-icon name="exit-outline"></ion-icon>&nbsp;Cerrar perfil</a>
    </div>
</div>


<!-- <Modal para editar perfil> -->
    <div class="modal5" id="modal5">
        <div class="modal-contenedor5">
            <div onclick="closeEditPerfilModal()" class="close-modal">X</div>
                <div class="imagen-perfil">
                    <ion-icon name="create-outline" class="editar-imagen-perfil" onclick="openEditImagenPerfilModal(event)"></ion-icon>
                    <img src="{% static 'imagenes/foto_default.png' %}" alt="">
                </div>
                <div class="opciones-editar-perfil">
                    <a href="" onclick="openCambioUsuarioModal(event)">Cambiar usuario</a>
                    <a href="" onclick="openCambioCorreoModal(event)">Cambiar correo</a>
                    <a href="" onclick="openCambioContraseñaModal(event)">Cambiar contraseña</a>
                    <a onclick="closeEditPerfilModal()">Volver</a>
                </div>
        </div>
    </div>


<!-- <Modal para editar perfil(imagen-perfil)> -->

    <div class="modal-cambio-usuario" id="modal-edit-imagen">
        <div class="modal-contenedor-usuario">
            <div class="contenedor-imagen-actual-nueva">
                <div class="imagen-actual-nueva"> 
                    <label for="">Imagen de perfil actual</label> 
                    <img src="">
                    <button>Guardar</button> 
                </div>
                <ion-icon name="arrow-forward-outline"></ion-icon>
                <div class="imagen-actual-nueva"> 
                    <label for="">Imagen de perfil nueva</label> 
                    <img src="">
                    <button onclick="closeEditImagenPerfilModal()">Volver</button> 
                </div>
            </div>
        </div>
    </div>


<!-- <Modal para editar perfil(usuario)> -->

    <div class="modal-cambio-usuario" id="modal-cambio-usario">
        <div class="modal-contenedor-usuario">
            <div>
                <div class="input-cambio">
                    <label for="">Nuevo usuario</label>
                    <input type="text" placeholder="ingresa tu nuevo usuario">
                </div>
                <div class="input-cambio">
                    <label for="">Contraseña</label>
                    <input type="password" placeholder="ingresa tu contraseña">
                </div>
            </div>
            <div>
                <button type="submit">Guardar</button>
                <button onclick="closeCambioUsuarioModal()">Volver</button>
            </div>
        </div>
    </div>


<!-- <Modal para editar perfil(correo)> -->    

    <div class="modal-cambio-usuario" id="modal-cambio-correo">
        <div class="modal-contenedor-usuario">
            <div>
                <div class="input-cambio">
                    <label for="">Nuevo correo</label>
                    <input type="text" placeholder="ingresa tu nuevo correo">
                </div>
                <div class="input-cambio">
                    <label for="">Contraseña</label>
                    <input type="password" placeholder="ingresa tu contraseña">
                </div>
            </div>
            <div>
                <button type="submit">Guardar</button>
                <button onclick="closeCambioCorreoModal()">Volver</button>
            </div>
        </div>
    </div>


<!-- <Modal para editar perfil(contraseña)> -->    

    <div class="modal-cambio-usuario" id="modal-cambio-contraseña">
        <div class="modal-contenedor-usuario">
            <div>
                <div class="input-cambio">
                    <label for="">Nueva contraseña</label>
                    <input type="text" placeholder="ingresa tu nueva contraseña">
                </div>
                <div class="input-cambio">
                    <label for="">Contraseña actual</label>
                    <input type="password" placeholder="ingresa tu contraseña actual">
                </div>
            </div>
            <div>
                <button type="submit">Guardar</button>
                <button onclick="closeCambioContraseñaModal()">Volver</button>
            </div>
        </div>
    </div>


{% comment %}------------------------ contenedor principal----------------------------------- {% endcomment %}



{% if messages %}
<div id="message-container" style="display: none;">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}


    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    {% load static %}
    <script>

    



        const cloud = document.getElementById("cloud");
const barraLateral = document.querySelector(".barra-lateral");
const spans = document.querySelectorAll("span");
const palanca = document.querySelector(".switch");
const circulo = document.querySelector(".circulo");
const menu = document.querySelector(".menu");
const main = document.querySelector("main");

menu.addEventListener("click",()=>{
    barraLateral.classList.toggle("max-barra-lateral");
    if(barraLateral.classList.contains("max-barra-lateral")){
        menu.children[0].style.display = "none";
        menu.children[1].style.display = "block";
    }
    else{
        menu.children[0].style.display = "block";
        menu.children[1].style.display = "none";
    }
    if(window.innerWidth<=320){
        barraLateral.classList.add("mini-barra-lateral");
        main.classList.add("min-main");
        spans.forEach((span)=>{
            span.classList.add("oculto");
        })
    }
});

palanca.addEventListener("click",()=>{
    let body = document.body;
    body.classList.toggle("dark-mode");
    body.classList.toggle("");
});

palanca.addEventListener("click", () => {
    let circulo = document.querySelector(".circulo");
    circulo.classList.toggle("prendido");
  });

cloud.addEventListener("click",()=>{
    barraLateral.classList.toggle("mini-barra-lateral");
    main.classList.toggle("min-main");
    spans.forEach((span)=>{
        span.classList.toggle("oculto");
    });
});

cloud.addEventListener("click", () => {
    const principal = document.querySelector(".contenedorprincipal");
    principal.classList.toggle("mini-barra");
  });



  // modal para opciones de perfil

const modal4 = document.querySelector('#modal4');

const openOptionsModal = (event) => {
    event.preventDefault();
    modal4.style.display = 'flex';
  }

const closeOptionsModal = () => {
    modal4.style.display = 'none';
}


// modal para editar perfil

const modal5 = document.querySelector('#modal5');

const openEditPerfilModal = (event) => {
    event.preventDefault(); 
    modal5.style.display = 'flex';
  }

const closeEditPerfilModal = () => {
    modal5.style.display = 'none';
}


// modal para editar perfil(usuario)

const modalCambioUsuario = document.querySelector('#modal-cambio-usario');

const openCambioUsuarioModal = (event) => {
    event.preventDefault();     
    modalCambioUsuario.style.display = 'flex';
  }

const closeCambioUsuarioModal = () => {
    modalCambioUsuario.style.display = 'none';
}


// modal para editar perfil(correo)

const modalCambioCorreo = document.querySelector('#modal-cambio-correo');

const openCambioCorreoModal = (event) => {
    event.preventDefault();     
    modalCambioCorreo.style.display = 'flex';
  }

const closeCambioCorreoModal = () => {
    modalCambioCorreo.style.display = 'none';
}


// modal para editar perfil(contraseña)

const modalCambioContraseña = document.querySelector('#modal-cambio-contraseña');

const openCambioContraseñaModal = (event) => {
    event.preventDefault();     
    modalCambioContraseña.style.display = 'flex';
  }

const closeCambioContraseñaModal = () => {
    modalCambioContraseña.style.display = 'none';
}


// modal para editar perfil(imagen-perfil)

const modalEditImagenPerfil = document.querySelector('#modal-edit-imagen');

const openEditImagenPerfilModal = (event) => {
    event.preventDefault();     
    modalEditImagenPerfil.style.display = 'flex';
  }

const closeEditImagenPerfilModal = () => {
    modalEditImagenPerfil.style.display = 'none';
}




    </script>
</body>
</html>